@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.page {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	flex: auto;
}

/* Navigation bar
==========================================*/
.main-menu-wrap {
	width: 1040px;
	margin: 20px auto 0;
	box-sizing: border-box;
}

.main-menu {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	height: 60px;
	list-style: none;
	padding-left: 0;
	position: relative;
}

.main-menu__item {
	background-color: #fff;
	width: 208px;
	height: 60px;
	margin: auto;
}

.main-menu__link {
	text-align: center;
	color: #aaa;
	display: block;
	line-height: 60px;
	text-decoration: none;
}

.main-menu__item_active {
	background-color: #e74c3c;
}

.main-menu__item:focus .main-menu__link_dropdown,
.main-menu__item:hover .main-menu__link_dropdown,
.main-menu__link:not(.main-menu__link_active):hover,
.main-menu__link:not(.main-menu__link_active):focus {
	color: #e74c3c;
}

.main-menu__link_active {
	color: #fff;
}

.dropdown-list {
	list-style: none;
	display: none;
	padding-left: 0;
	position: absolute;
	background-color: inherit;
}

.dropdown-list__item {
	width: 208px;
	height: 60px;
}

.dropdown-list__link {
	color: #aaa;
	display: block;
	line-height: 60px;
	text-decoration: none;
	width: 208px;
}

.dropdown-list__link:hover,
.dropdown-list__link:focus {
	color: #e74c3c;
}

.main-menu__item:hover .dropdown-list,
.main-menu__item:focus .dropdown-list {
	display: block;
}

.main-menu__item_active:hover,
.main-menu__item_active:focus {
	background-color: #ef5350;
}

/* brackets
=======================================================*/
.dropdown-list__link_cl-effect-1 {
	margin-left: 10px;
}

.dropdown-list__link_cl-effect-1::before,
.dropdown-list__link_cl-effect-1::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.dropdown-list__link_cl-effect-1::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.dropdown-list__link_cl-effect-1::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.dropdown-list__link_cl-effect-1:hover::before,
.dropdown-list__link_cl-effect-1:hover::after,
.dropdown-list__link_cl-effect-1:focus::before,
.dropdown-list__link_cl-effect-1:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* Effect 3: bottom line slides/fades in
==============================================================*/
.dropdown-list__span_cl-effect-3 {
	position: relative;
	display: inline-block;
	height: 35px;
	margin-left: 20px;
}

.dropdown-list__span_cl-effect-3::after {
	position: absolute;
	top: 130%;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(239,83,80,0.7);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.dropdown-list__link:hover .dropdown-list__span_cl-effect-3::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.dropdown-list__span_cl-effect-3:hover::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Effect 5: same word slide in */

.dropdown-list__link_cl-effect-5 {
	position: relative;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	overflow: hidden;
	padding-left: 20px;
	margin-top: 10px;
	line-height: 30px;
}

.dropdown-list__span_cl-effect-5 {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.dropdown-list__span_cl-effect-5::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.dropdown-list__link_cl-effect-5:hover .dropdown-list__span_cl-effect-5 {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Effect 21
=================================================*/
.main-menu__link_cl-effect-21 {
	position: relative;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.main-menu__link_cl-effect-21::before,
.main-menu__link_cl-effect-21::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ef5350;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.main-menu__link_cl-effect-21::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.main-menu__link_cl-effect-21::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.main-menu__link_cl-effect-21:hover::before,
.main-menu__link_cl-effect-21:focus::before,
.main-menu__link_cl-effect-21:hover::after,
.main-menu__link_cl-effect-21:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/* Main content
=================================================*/
.container {
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	margin: 0 auto;
}

.content {
	margin-right: 20px;
	width: 680px;
}

.post {
	background-color: #fff;
	margin-bottom: 20px;
}

.post__par {
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	padding: 0 80px;
}

.post__main-content {
	margin: 30px auto;
}

.post__header {
	margin: 0;
	padding: 0;
}

.post__meta {
	display: flex;
}

.post__header-text {
	margin: 0;
	padding: 40px 80px 20px 80px;
}

.post__header-link {
	color: #000;
	font-family: 'Droid serif';
	text-decoration: none;
}

.post__header-link:hover,
.post__header-link:focus {
	text-decoration: underline;
}

.post__date {
	color: #999;
	font: italic 12px 'Open Sans', sans-serif;
	margin-left: 80px;
}

.post__date-icon {
	padding-right: 3px;
}

.post__footer {
	background-color: #eee;
	display: flex;
	margin-top: 40px;
}

.postinfo {
	display: flex;
	list-style: none;
	padding-left: 40px;
}

.postinfo__item {
	color: #888;
	margin: auto 15px auto 0;
}

.postinfo__icon:before {
	font: 18px 'FontAwesome';
	margin-right: 5px;
}

.postinfo__icon:after {
	font: 14px 'Droid Serif';
}

.postinfo__icon_views-count:before {
	color: #419fdd;
	content: '\f06e';
}

.postinfo__icon_views-count:after {
	content: '120';
}

.postinfo__icon_likes-count {
	cursor: pointer;
}

.postinfo__icon_likes-count:after {
	content: '42';
}

.postinfo__icon_likes-count:before {
	color: #e74c3c;
	content: '\f004';
}

.postinfo__icon_likes-count:hover:before {
	color: #e08283;
}

.post-share {
	display: flex;
	list-style: none;
	margin: 0 75px 0 auto;
	padding: 0;
}

.post-share__item {
	padding: 5px;
}

.post-share__link {
	text-decoration: none;
}

.post-share__link:before {
	font: 32px 'FontAwesome';
}

.post-share__link_twitter:before {
	color: #55acee;
	content: '\f081';
}

.post-share__link_twitter:hover:before {
	color: #81d4fa;
}

.post-share__link_facebook:before {
	color: #3b5998;
	content: '\f082';
}

.post-share__link_facebook:hover:before {
	color: #536dfe;
}

.post-share__link_google:before {
	color: #d34836;
	content: '\f0d4';
}

.post-share__link_google:hover:before {
	color: #e57373;
}

.footer__read-more {
	background-color: #e74c3c;
	color: #fff;
	font-family: 'Droid Serif', serif;
	height: 40px;
	line-height: 40px;
	margin: 20px 40px 20px auto;
	text-align: center;
	text-decoration: none;
	width: 130px;
}

.footer__read-more:hover {
	background-color: #ef5350;
}

/* sidebar info
=================================================*/
.sidebar {
	width: 340px;
}

.sidebar__block {
	background-color: #fff;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.sidebar__block_author {
	background-color: #e74c3c;
}

.sidebar__avatar {
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}

.sidebar__text,
.sidebar__h3 {
	font: 26px 'Open Sans', sans-serif;
	margin: 0;
	padding-top: 15px;
	text-align: center;
}

.sidebar__text_author {
	color: #fff;
}

.social {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.social__item {
	margin: auto 0;
	width: 50px;
}

.social__link {
	color: #ddd;
	display: block;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	width: 50px;
}

.social__link_twitter:hover {
	color: #55acee;
}

.social__link_vk:hover {
	color: #45668e;
}

.social__link_facebook:hover {
	color: #3b5998;
}

.social__link_linkedin:hover {
	color: #0077b5;
}

.top-posts {
	list-style: none;
	padding: 20px;
	margin: 0;
}

.top-posts__item {
	padding-top: 20px;
}

.article-preview {
	display: flex;
	flex-wrap: wrap;
}

.article-preview__img {
	margin: 0 15px 5px 0;
}

.article-preview__h4 {
	margin: 0;
}

.article-preview__details {
	width: 300px;
	box-sizing: border-box;
}

.article-preview__link {
	text-decoration: none;
	color: #111;
	font: 15px/20px 'Open Sans', sans-serif;
}

.article-preview__meta {
	display: flex;
	width: 100%;
	height: 30px;
}


.article-preview__meta-item {
	color: #999;
	font: 12px 'Open Sans', sans-serif;
	line-height: 30px;
	padding-right: 15px;
}

.article-preview__icon {
	padding-right: 3px;
}

.article-preview__link:hover {
	text-decoration: underline;
}

.article-preview__img {
	float: left;
}

/* Site footer
=================================================*/
.site-footer {
	background-color: #eee;
	box-sizing: border-box;
	color: #222;
	font-family: 'Droid Serif';
	margin: auto;
	padding: 15px;
	text-align: center;
	width: 1040px;
}
